<div class="columns details" *ngIf="cast">
  <div class="column col-4 img-poster">
    <img [src]="cast.img" class="img-responsive">
  </div>
  <div class="column col-8">
    <h1> {{cast.name}}</h1>
    <div class="columns">
      <div class="column col-6">
        <div class="text"> 
            Popularité
        </div>
        <div class="bar bar-sm"> 
          <div class="bar-item tooltip" role="progressbar" data-tooltip="80%" style="width:80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> 
        </div>
      </div>
    </div>
    <div class="column col-12 synopsis">
      <h3> Biographie </h3>
      <p>{{cast.biography}}</p>
    </div>
    <div class="column col-12 informations">
      <h3> Informations </h3>
      <div class="columns">
        <div class="column col-3">
          <div class="text_info">
            Date de naissance
          </div>
          <p>{{cast.birthdate}}</p>
        </div>
        <div class="column col-3">
          <div class="text_info">
            Lieu de naissance
          </div>           
        </div>
        <div class="column col-3">
          <div class="text_info">
            Nationalité
          </div>
        </div>
        <div class="column col-3">
          <div class="text_info">
            Genres 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>