<header class="navbar">
  <section class="navbar-section">
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" checked [disabled]="true">
        <i class="form-icon"></i>Movies
      </label>
    </div>
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" [disabled]="true">
        <i class="form-icon"></i>Cast
      </label>
    </div>
    <app-search></app-search>
  </section>
  <section class="navbar-center">
    <a [routerLink]="['/']"><h1>MovieDB</h1></a>
  </section>
  <section class="navbar-section">
    <ng-container *ngIf="showSignInButtons">
      <a [routerLink]="['/login']"><button class="btn">Sign in</button></a>
      <a [routerLink]="['/join']"><button class="btn btn-primary">Sign up</button></a>
    </ng-container>
    <app-header-menu *ngIf="showMenuButton"></app-header-menu>
  </section>
</header>
