<header class="navbar">
  <section class="navbar-section">
    <a class="btn btn-link" [routerLink]="['/movies']">Movies</a>
    <a class="btn btn-link" [routerLink]="['/cast']">Cast</a>
    <div class="input-group input-inline">
      <input class="form-input" placeholder="search">
      <button class="btn btn-primary input-group-btn">Search</button>
    </div>
  </section>
  <section class="navbar-center">
    <h1>MovieDB</h1>
  </section>
  <section class="navbar-section">
    <ng-container *ngIf="showSignInButtons">
      <a [routerLink]="['/login']"><button class="btn">Sign in</button></a>
      <a [routerLink]="['/join']"><button class="btn btn-primary">Sign up</button></a>
    </ng-container>
    <app-header-menu *ngIf="showMenuButton"></app-header-menu>
  </section>
</header>
