<div class="card">
  <div class="card-image">
    <div class="img-blur"></div>
    <a [routerLink]="['/movie', movie._id]">
      <img [src]="poster" class="img-responsive img-view">
    </a>
  </div>
  <div class="card-header">
    <div class="card-title h5">
      <a [routerLink]="['/movie', movie._id]">
        {{movie.title}}
      </a>
    </div>
    <div class="card-subtitle text-gray">{{movie.release_date | date: 'dd/MM/yyyy'}} ({{movie.runtime | time}})</div>
  </div>
  <div class="card-body">
    {{movie.overview}}
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" [routerLink]="['/movie', movie._id]">Show details</a>
  </div>
</div>
