<div class="card">
  <div class="card-image">
    <a [routerLink]="['/movie', movie.id]">
      <img [src]="movie.coverUrl" class="img-responsive">
    </a>
  </div>
  <div class="card-header">
    <div class="card-title h5">
      <a [routerLink]="['/movie', movie.id]">
        {{movie.name}}
      </a>
    </div>
    <div class="card-subtitle text-gray">{{movie.releaseDate}} ({{movie.runtime}})</div>
  </div>
  <div class="card-body">
    {{movie.description}}
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" [routerLink]="['/movie', movie.id]">Show details</a>
  </div>
</div>
