<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <label class="form-label" for="username-input">Username</label>
    <input class="form-input" id="username-input" formControlName="username" placeholder="Username">
    <p *ngIf="hasError('username', 'required')">
      Please provide a username
    </p>
    <p *ngIf="!hasError('username', 'required') && hasError('username', ['minlength','maxlength'])">
      Username must be between 8 and 30 characters long
    </p>
    <label class="form-label" for="password-input">Password</label>
    <input class="form-input" id="password-input" formControlName="password" placeholder="Password" type="password">
    <p *ngIf="hasError('password', 'required')">
      Please provide a password
    </p>
    <p *ngIf="!hasError('password', 'required') && hasError('password', ['minlength','maxlength'])">
      Password must be between 8 and 30 characters long
    </p>
    <button class="btn btn-primary" [disabled]="form.invalid">Sign up</button>
  </form>
  <button class="btn btn-link" [routerLink]="['/login']">Sign in</button>
</div>
